<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= object.errors.count %> 
        fel förhindrade denna <%= object.class.to_s.underscore.humanize.downcase %> 
        från att registreras:</h2>
    <p>Det var problem med följande fält:</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>